<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <title>Decoracao</title>
  </head>
  <body>
    <header class="site-header">
      <div class="container navbar">
        <img
          src="../images/simbolo-de-arquitetura.webp"
          alt="Símbolo da arquitetura"
          class="rounded"
          width="80"
        />

        <h1 class="brand">Leitura da pré-existência</h1>

        <img
          src="../images/simbolo-de-arquitetura.webp"
          alt="Símbolo da arquitetura"
          class="rounded"
          width="80"
        />
      </div>

      <nav class="nav container">
        <a href="../index.html">Projeto Arquitetônico</a>
        <a href="./ambientes.html">O Briefing</a>
        <a href="./decoracao.html">Leitura da pré-existência</a>
        <a href="./projetos.html">Conciliação de estilos</a>
        <a href="./dicas.html">Concepção e inspiração</a>
      </nav>
    </header>

    <main>
      <section class="card">
        <div class="card__body">
          <h3>Por que estudar o que já existe</h3>
          <p>
            Antes de demolir, é preciso entender. Cada parede, cada material e
            cada detalhe revelam oportunidades que podem ser ressignificadas.
          </p>
        </div>
      </section>
      <section class="card">
        <div class="card__body">
          <h3>Pé-direito alto como aliado</h3>
          <p>
            Em vez de trocar, restaurar. Assim, atende ao desejo do pai por
            elementos vintage e reduz o impacto ambiental.
          </p>
        </div>
      </section>
      <section class="card">
        <div class="card__body">
          <h3>Limites e possibilidades</h3>
          <p>
            As paredes estruturais definem até onde o projeto pode ir. Com
            criatividade, é possível abrir novos espaços sem comprometer a
            estabilidade.
          </p>
        </div>
      </section>
    </main>

    <footer class="site-footer">
      <div class="container grid">
        <div>
          <p>15/09/3035</p>
        </div>

        <div>
          <p>
            Aplicar Técnicas de Comunicação Profissional e Produção de Conteúdo
          </p>
        </div>

        <div>
          <p><strong>Professora:</strong> Ediliane Lopes Leite Figueiredo</p>
        </div>

        <div>
          <p><strong>Alunos:</strong></p>
          <ul class="stack">
            <li>Letícia Alves Pereira</li>
            <li>Camila Nascimento</li>
            <li>Nathayrla Bernardo</li>
            <li>Maria Julia Campos</li>
            <li>Wellington Lima</li>
            <li>Marcelo de Melo</li>
            <li>João Pedro Araujo</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
